@import '../../styles/variables.scss';

.presentation {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $dark-grey;
  height: 100vh;

  h1 {
    padding: 24px;
    color: #fff;
  }

  footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    width: 100%;
    text-align: center;
    height: 66px;

    p {
      margin-bottom: 0;
    }

    .credits {
      font-size: 0.7rem;
      opacity: 0.5;
    }
  }
}
