@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: $dark-grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #f8f8f8;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
}

::selection {
  background-color: $primary-color;
}
